[run]
branch = True
source =
    convert2rhel
omit =
    convert2rhel/unit_tests/*
    convert2rhel/pkgmanager/handlers/base.py

[paths]
source =
    convert2rhel/

[report]
fail_under = 80
skip_covered = True
show_missing = True
