cover/
.coverage
coverage.xml
dist/
SRPMS/
*.egg-info/
.DS_Store
*.pyc
system_tests/vmdefs/centos*/.vagrant/
*.copr.conf
.venv/*
.build-image7
.build-image8
.install
.pre-commit
.rpms/*
.srpms/*
.idea/
.cache/
.pytest_cache/*
.mypy_cache/*

.vscode/*
!.vscode/extensions.json
