cover/
.coverage
coverage.xml
dist/
SRPMS/
*.egg-info/
.DS_Store
*.pyc
system_tests/vmdefs/centos*/.vagrant/
*.copr.conf
.venv/*
.build-image*
.install
.pre-commit
.rpms/*
.srpms/*
.idea/
.cache/
.pytest_cache/*
.mypy_cache/*
TAGS
.vscode/*
!.vscode/extensions.json
docs/build/*
docs/source/_autosummary
