[BASIC]

# Regular expression matching correct function names
function-rgx=[a-z_][a-z0-9_]{2,50}$

[MESSAGES CONTROL]

disable=
# do not warn about pylint checks being disabled through comments in the code
 locally-disabled,
# These are our current failures 2023-01-11.  We can go through them and either
# fix them or add a comment to say why we are leaving it disabled.
 anomalous-backslash-in-string,
 arguments-renamed,
 attribute-defined-outside-init,
 broad-except,
 consider-using-dict-items,
 consider-using-f-string,
 consider-using-with,
 cyclic-import,
 deprecated-module,
 duplicate-code,
 empty-docstring,
 expression-not-assigned,
 f-string-without-interpolation,
 fixme,
 function-redefined,
 global-variable-not-assigned,
 implicit-str-concat,
 import-error,
 import-outside-toplevel,
 inconsistent-return-statements,
 invalid-name,
 line-too-long,
 logging-format-interpolation,
 logging-fstring-interpolation,
 logging-not-lazy,
 missing-class-docstring,
 missing-function-docstring,
 missing-module-docstring,
 no-else-break,
 no-else-raise,
 no-else-return,
 no-member,
 no-self-use,
 no-value-for-parameter,
 pointless-statement,
 protected-access,
 raise-missing-from,
 redefined-builtin,
 redefined-outer-name,
 redundant-unittest-assert,
 reimported,
 simplifiable-if-expression,
 simplifiable-if-statement,
 singleton-comparison,
 superfluous-parens,
 super-init-not-called,
 super-with-arguments,
 suppressed-message,
 too-few-public-methods,
 too-many-arguments,
 too-many-branches,
 too-many-instance-attributes,
 too-many-lines,
 too-many-locals,
 too-many-nested-blocks,
 too-many-public-methods,
 too-many-statements,
 try-except-raise,
 ungrouped-imports,
 unknown-option-value,
 unnecessary-dunder-call,
 unnecessary-lambda,
 unnecessary-pass,
 unspecified-encoding,
 unused-argument,
 unused-import,
 unused-variable,
 useless-else-on-loop,
 useless-object-inheritance,
 useless-option-value,
 useless-return,
 useless-suppression,
 use-symbolic-message-instead,
 wrong-import-order,
 wrong-import-position

[REPORTS]

msg-template='[{msg_id} {symbol}] {msg} File: {path}, line {line}, in {obj}'

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
