six==1.15.0
pexpect==4.3.1
click==7.1.2
copr-cli==1.94
aiohttp==3.7.4
gitpython==3.1.17
giturlparse.py==0.0.5
envparse==0.2.0
loguru==0.5.3
copr-cli==1.94
git+https://github.com/ZhukovGreen/tmt.git@poc/tmt-adoption-for-convert2rhel
-r centos8.requirements.txt
-e .
