name: test_coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  coverage:
    name: coverage-centos${{ matrix.centos_ver }}
    strategy:
      matrix:
        centos_ver: [7, 8]

    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          push: false
          load: true
          context: .
          file: ./Dockerfiles/centos${{ matrix.centos_ver }}.Dockerfile
          tags: centos${{ matrix.centos_ver }}
      - name: Run pytest coverage
        run: |
          docker run --name pytest-container centos${{ matrix.centos_ver }} pytest --cov --cov-report xml --cov-report term
          docker cp pytest-container:/data/coverage.xml .
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage.xml
          override_commit: ${{GITHUB_SHA}}
