name: test_coverage

on:
  workflow_run:
    workflows: [build_and_publish_images]
    types: [completed]

jobs:
  coverage:
    name: coverage-centos${{ matrix.centos_ver }}
    strategy:
      matrix:
        centos_ver: [6, 7, 8]

    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: convert2rhel-centos${{ matrix.centos_ver }}
          path: /tmp

      - name: Load image
        run: |
          docker load --input /tmp/convert2rhel-centos${{ matrix.centos_ver }}.tar
          docker image ls -a

      - name: Run pytest coverage
        run: |
          docker run --name pytest-container ghcr.io/${{ github.repository_owner }}/convert2rhel-centos${{ matrix.centos_ver }} pytest --cov --cov-report xml --cov-report term
          docker cp pytest-container:/data/coverage.xml .

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage.xml
