name: Enforce PR verification labels

on:
  pull_request:
    types: [labeled, unlabeled, opened, edited, synchronize]
jobs:
  enforce-label:
    if: github.actor != 'dependabot' || github.actor != 'pre-commit-ci'
    runs-on: ubuntu-latest
    steps:
      - uses: yogevbd/enforce-label-action@2.2.2
        with:
          REQUIRED_LABELS_ANY: "tests-skip,tests-run-tier0,tests-run-tier1,tests-run-all,tests-run-sanity"
