name: Generate Manpages

on:
  pull_request:
    branches:
      - main

jobs:
  generate-manpages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.13

      - name: Install dependencies
        run: |
          pip install argparse-manpage six pexpect

      - name: Install python3-rpm and python3-dnf package with apt-get
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-rpm python3-dnf

      - name: Generate Manpages
        run: |
          chmod +x scripts/manpage_generation.sh
          bash scripts/manpage_generation.sh
