name: pylint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linting:
    name: linting-centos${{ matrix.centos_ver }}
    strategy:
      fail-fast: false
      matrix:
        centos_ver: [7, 8]

    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build image
        uses: docker/build-push-action@v2
        with:
          push: false
          load: true
          context: .
          file: ./Dockerfiles/centos${{ matrix.centos_ver }}.Dockerfile
          tags: centos${{ matrix.centos_ver }}
      - name: Run command
        run: |
          docker run centos${{ matrix.centos_ver }} bash -c "scripts/run_lint.sh"
