---
name: Build release RPMs

on:
  release:
    types: [published]

jobs:
  build_el7_rpm:
    name: Build EL7 RPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Trigger Manpage Generation
        uses: ./.github/workflows
        with:
          workflow: generate_manpage.yml

      - name: Build RPM package for EL7
        id: rpm_build_el7
        uses: bocekm/rpmbuild@el7
        with:
          spec_path: "packaging/convert2rhel.spec"

      - name: Upload EL7 RPM as release asset
        id: upload_release_asset_el7
        uses: actions/upload-release-asset@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            upload_url: ${{ github.event.release.upload_url }}
            asset_path: ${{ steps.rpm_build_el7.outputs.rpm_path }}
            asset_name: ${{ steps.rpm_build_el7.outputs.rpm_name }}
            asset_content_type: ${{ steps.rpm_build_el7.outputs.content_type }}

  build_el8_rpm:
    name: Build EL8 RPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Build RPM package for EL8
        id: rpm_build_el8
        uses: bocekm/rpmbuild@el8
        with:
          spec_path: "packaging/convert2rhel.spec"

      - name: Upload EL8 RPM as release asset
        id: upload_release_asset_el8
        uses: actions/upload-release-asset@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            upload_url: ${{ github.event.release.upload_url }}
            asset_path: ${{ steps.rpm_build_el8.outputs.rpm_path }}
            asset_name: ${{ steps.rpm_build_el8.outputs.rpm_name }}
            asset_content_type: ${{ steps.rpm_build_el8.outputs.content_type }}
