name: unit_tests

on:
  workflow_run:
    workflows: [build_and_publish_images]
    types: [completed]

jobs:
  testing:
    name: testing-centos${{ matrix.centos_ver }}
    strategy:
      fail-fast: false
      matrix:
        centos_ver: [6, 7, 8]

    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: convert2rhel-centos${{ matrix.centos_ver }}
          path: /tmp

      - name: Load image
        run: |
          docker load --input /tmp/convert2rhel-centos${{ matrix.centos_ver }}.tar
          docker image ls -a

      - name: Run command
        run: |
          docker run ghcr.io/${{ github.repository_owner }}/convert2rhel-centos${{ matrix.centos_ver }} pytest
