name: unit_tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  testing:
    name: testing-${{ matrix.el.distro }}${{ matrix.el.ver }}
    strategy:
      fail-fast: false
      matrix:
        el:
          - distro: centos
            ver: 7
          - distro: centos
            ver: 8
          - distro: oracle
            ver: 9

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run command
        run: |
          make tests${{ matrix.el.ver }} BUILD_IMAGES=0
